/* For desktop: */
button {
     border: none;
     background-color: transparent; 
     padding: 15px 32px;
}



.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}



body {
  background-image: url("https://i.imgur.com/4OsURS4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}







/* For mobile: */
@media only screen and (max-width: 600px) {
button {
     border: none;
     background-color: transparent; 
     padding: 15px 32px;
}



.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 280px;
  font-weight: bold;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130px;
}



body {
  background-image: url("https://i.imgur.com/iWDT1iG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

}
